$wing-main-color: #242659;
$wing-main-color-light:#4649a0;
$wing-main-color-slight:#898ce2;
$wing-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; 