[Unit]
Description=Wing API Server
After=network.target

[Service]
ExecStart=/usr/bin/wing serve -config=/etc/wing/config.yml
User=root
Group=root

[Install]
WantedBy=multi-user.target