[Unit]
Description=Wing Worker
After=network.target

[Service]
ExecStart=/usr/bin/wing worker -config=/etc/wing/config.yml
User=root
Group=root

[Install]
WantedBy=multi-user.target